In [2]:
from dotenv import load_dotenv
import requests
import os
import pandas as pd
import overpy

In [3]:
api = overpy.Overpass()

In [4]:
features = pd.read_csv("all_map_features.csv")
features

         key         value
0    amenity           bar
1    amenity    biergarten
2    amenity          cafe
3    amenity     fast_food
4    amenity    food_court
..       ...           ...
141     shop          gift
142     shop    stationery
143     shop         party
144     shop    pawnbroker
145     shop  pyrotechnics

[146 rows x 2 columns]

In [13]:
query_start = """
[out:json];
area(3600175905)->.searchArea;
("""
# Area 175905 = NYC, add 3600000000 to get to work on OSM turbo
query_end = """
);
out center;
"""

for key in features['key'].unique():
    query = query_start
    for value in features.loc[features['key'] == key, 'value']:
        query += f'\n   node["{key}"="{value}"](area.searchArea);'
    
    query += query_end
    print(query)
    result = api.query(query)

    rows = []
    for node in result.nodes:
        row = {"id": node.id,
            "lat": node.lat.to_eng_string(),
            "lon": node.lon.to_eng_string()} | node.tags
        rows.append(row)

    df = pd.DataFrame(rows)
    threshold = int(len(df)*0.005)
    df_cleaned = df.dropna(axis=1, thresh=threshold)
    df_cleaned.to_csv(f"osm_places_{key}.csv", index=False)

[out:json];
area(3600175905)->.searchArea;
(
   node["amenity"="bar"](area.searchArea);
   node["amenity"="biergarten"](area.searchArea);
   node["amenity"="cafe"](area.searchArea);
   node["amenity"="fast_food"](area.searchArea);
   node["amenity"="food_court"](area.searchArea);
   node["amenity"="ice_cream"](area.searchArea);
   node["amenity"="pub"](area.searchArea);
   node["amenity"="restaurant"](area.searchArea);
   node["amenity"="college"](area.searchArea);
   node["amenity"="dancing_school"](area.searchArea);
   node["amenity"="library"](area.searchArea);
   node["amenity"="surf_school"](area.searchArea);
   node["amenity"="toy_library"](area.searchArea);
   node["amenity"="research_institute"](area.searchArea);
   node["amenity"="music_school"](area.searchArea);
   node["amenity"="university"](area.searchArea);
   node["amenity"="arts_centre"](area.searchArea);
   node["amenity"="cinema"](area.searchArea);
   node["amenity"="community_centre"](area.searchArea);
   node["amenity"="exhibition_centre"](area.searchArea);
   node["amenity"="fountain"](area.searchArea);
   node["amenity"="music_venue"](area.searchArea);
   node["amenity"="nightclub"](area.searchArea);
   node["amenity"="planetarium"](area.searchArea);
   node["amenity"="public_bookcase"](area.searchArea);
   node["amenity"="social_centre"](area.searchArea);
   node["amenity"="theatre"](area.searchArea);
   node["amenity"="dive_centre"](area.searchArea);
);
out center;


[out:json];
area(3600175905)->.searchArea;
(
   node["building"="hotel"](area.searchArea);
   node["building"="house"](area.searchArea);
   node["building"="college"](area.searchArea);
   node["building"="sports_centre"](area.searchArea);
   node["building"="stadium"](area.searchArea);
);
out center;


[out:json];
area(3600175905)->.searchArea;
(
   node["landuse"="fairground"](area.searchArea);
   node["landuse"="retail"](area.searchArea);
   node["landuse"="allotments"](area.searchArea);
   node["landuse"="flowerbed"](area.searchArea);
   node["landuse"="forest"](area.searchArea);
   node["landuse"="greenhouse_horticulture"](area.searchArea);
   node["landuse"="meadow"](area.searchArea);
   node["landuse"="orchard"](area.searchArea);
   node["landuse"="plant_nursery"](area.searchArea);
   node["landuse"="vineyard"](area.searchArea);
   node["landuse"="conservation"](area.searchArea);
   node["landuse"="depot"](area.searchArea);
   node["landuse"="winter_sports"](area.searchArea);
);
out center;


[out:json];
area(3600175905)->.searchArea;
(
   node["leisure"="amusement_arcade"](area.searchArea);
   node["leisure"="beach_resort"](area.searchArea);
   node["leisure"="bandstand"](area.searchArea);
   node["leisure"="bird_hide"](area.searchArea);
   node["leisure"="common"](area.searchArea);
   node["leisure"="dance"](area.searchArea);
   node["leisure"="disc_golf_course"](area.searchArea);
   node["leisure"="dog_park"](area.searchArea);
   node["leisure"="escape_game"](area.searchArea);
   node["leisure"="firepit"](area.searchArea);
   node["leisure"="fishing"](area.searchArea);
   node["leisure"="fitness_centre"](area.searchArea);
   node["leisure"="fitness_station"](area.searchArea);
   node["leisure"="garden"](area.searchArea);
   node["leisure"="hackerspace"](area.searchArea);
   node["leisure"="horse_riding"](area.searchArea);
   node["leisure"="ice_rink"](area.searchArea);
   node["leisure"="marina"](area.searchArea);
   node["leisure"="miniature_golf"](area.searchArea);
   node["leisure"="nature_reserve"](area.searchArea);
   node["leisure"="park"](area.searchArea);
   node["leisure"="picnic_table"](area.searchArea);
   node["leisure"="pitch"](area.searchArea);
   node["leisure"="playground"](area.searchArea);
   node["leisure"="sports_centre"](area.searchArea);
   node["leisure"="stadium"](area.searchArea);
   node["leisure"="summer_camp"](area.searchArea);
   node["leisure"="swimming_area"](area.searchArea);
   node["leisure"="swimming_pool"](area.searchArea);
   node["leisure"="track"](area.searchArea);
   node["leisure"="water_park"](area.searchArea);
);
out center;


[out:json];
area(3600175905)->.searchArea;
(
   node["shop"="bakery"](area.searchArea);
   node["shop"="beverages"](area.searchArea);
   node["shop"="brewing_supplies"](area.searchArea);
   node["shop"="butcher"](area.searchArea);
   node["shop"="cheese"](area.searchArea);
   node["shop"="chocolate"](area.searchArea);
   node["shop"="coffee"](area.searchArea);
   node["shop"="confectionery"](area.searchArea);
   node["shop"="convenience"](area.searchArea);
   node["shop"="dairy"](area.searchArea);
   node["shop"="deli"](area.searchArea);
   node["shop"="farm"](area.searchArea);
   node["shop"="food"](area.searchArea);
   node["shop"="ice_cream"](area.searchArea);
   node["shop"="nuts"](area.searchArea);
   node["shop"="pasta"](area.searchArea);
   node["shop"="pastry"](area.searchArea);
   node["shop"="seafood"](area.searchArea);
   node["shop"="spices"](area.searchArea);
   node["shop"="tea"](area.searchArea);
   node["shop"="wine"](area.searchArea);
   node["shop"="department_store"](area.searchArea);
   node["shop"="general"](area.searchArea);
   node["shop"="kiosk"](area.searchArea);
   node["shop"="mall"](area.searchArea);
   node["shop"="supermarket"](area.searchArea);
   node["shop"="wholesale"](area.searchArea);
   node["shop"="baby_goods"](area.searchArea);
   node["shop"="bag"](area.searchArea);
   node["shop"="boutique"](area.searchArea);
   node["shop"="clothes"](area.searchArea);
   node["shop"="fabric"](area.searchArea);
   node["shop"="fashion"](area.searchArea);
   node["shop"="fashion_accessories"](area.searchArea);
   node["shop"="jewelry"](area.searchArea);
   node["shop"="leather"](area.searchArea);
   node["shop"="sewing"](area.searchArea);
   node["shop"="shoes"](area.searchArea);
   node["shop"="shoe_repair"](area.searchArea);
   node["shop"="tailor"](area.searchArea);
   node["shop"="watches"](area.searchArea);
   node["shop"="wool"](area.searchArea);
   node["shop"="charity"](area.searchArea);
   node["shop"="second_hand"](area.searchArea);
   node["shop"="variety_store"](area.searchArea);
   node["shop"="beauty"](area.searchArea);
   node["shop"="cosmetics"](area.searchArea);
   node["shop"="massage"](area.searchArea);
   node["shop"="perfumery"](area.searchArea);
   node["shop"="tattoo"](area.searchArea);
   node["shop"="florist"](area.searchArea);
   node["shop"="garden_centre"](area.searchArea);
   node["shop"="pottery"](area.searchArea);
   node["shop"="antiques"](area.searchArea);
   node["shop"="candles"](area.searchArea);
   node["shop"="carpet"](area.searchArea);
   node["shop"="furniture"](area.searchArea);
   node["shop"="bicycle"](area.searchArea);
   node["shop"="outdoor"](area.searchArea);
   node["shop"="sports"](area.searchArea);
   node["shop"="surf"](area.searchArea);
   node["shop"="swimming_pool"](area.searchArea);
   node["shop"="games"](area.searchArea);
   node["shop"="books"](area.searchArea);
   node["shop"="gift"](area.searchArea);
   node["shop"="stationery"](area.searchArea);
   node["shop"="party"](area.searchArea);
   node["shop"="pawnbroker"](area.searchArea);
   node["shop"="pyrotechnics"](area.searchArea);
);
out center;

In [60]:
query = """
[out:json];
area[name="New York"]->.searchArea;
(
  node["amenity"="pub"](area.searchArea);
  node["amenity"="bar"](area.searchArea);
  node["amenity"="biergarten"](area.searchArea);
  node["amenity"="cafe"](area.searchArea);
  node["amenity"="fast_food"](area.searchArea);
  node["amenity"="food_court"](area.searchArea);
  node["amenity"="ice_cream"](area.searchArea);
  node["amenity"="pub"](area.searchArea);
  node["amenity"="restaurant"](area.searchArea);
);
out center;
"""

In [61]:
result = api.query(query)

In [62]:
for p in dir(result.nodes[0]):
    print(p)

__annotations__
__class__
__delattr__
__dict__
__dir__
__doc__
__eq__
__format__
__ge__
__getattribute__
__getstate__
__gt__
__hash__
__init__
__init_subclass__
__le__
__lt__
__module__
__ne__
__new__
__reduce__
__reduce_ex__
__repr__
__setattr__
__sizeof__
__str__
__subclasshook__
__weakref__
_result
_type_value
attributes
from_json
from_xml
get_center_from_json
get_center_from_xml_dom
id
lat
lon
tags

In [63]:
fnode = result.nodes[0]

In [64]:
print(set(result.nodes[0].tags.keys()))

{'gnis:feature_id', 'amenity', 'name', 'ele'}

In [66]:
print(len(result.nodes))

21607

In [67]:
cols = ["id", "lat", "lon"] + list(params)
df = pd.DataFrame(columns=cols)

In [68]:
rows = []
for node in result.nodes:
    row = {"id": node.id,
           "lat": node.lat.to_eng_string(),
           "lon": node.lon.to_eng_string()} | node.tags
    rows.append(row)

In [69]:
df = pd.DataFrame(rows)

In [70]:
df.head()

,id,lat,lon,amenity,ele,gnis:feature_id,name,addr:housenumber,addr:postcode,addr:street,...,payment:cashapp,natural,payment:alipay,payment:wechat,payment:account_cards,operational_status,comedy,service:bicycle:stand,diet:macrobiotic,spoaddr:street
0,158604258,42.3958183,-75.8084643,bar,312,965536,Seebers Tavern,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,175181066,42.7680859,-78.6113159,restaurant,NaN,NaN,Griffon Gastropub,634,14052,Main St.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,175181076,42.7676210,-78.6083001,restaurant,NaN,NaN,"Tony Rome's ""The Globe""",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,175181087,42.7675639,-78.6092902,restaurant,NaN,NaN,Rick's on Main,687,14052,Main St.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,175181195,42.7674792,-78.6086259,restaurant,NaN,NaN,East End Tap Room,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
print(df.columns.values)

['id' 'lat' 'lon' 'amenity' 'ele' 'gnis:feature_id' 'name'
 'addr:housenumber' 'addr:postcode' 'addr:street' 'cuisine' 'website'
 'addr:city' 'addr:state' 'phone' 'created_by'
 'nysgissam:nysaddresspointid' 'air_conditioning' 'indoor_seating'
 'outdoor_seating' 'smoking' 'wheelchair' 'addr:unit' 'branch' 'brand'
 'brand:wikidata' 'official_name' 'ref' 'takeaway' 'addr:country'
 'addr:county' 'drive_through' 'internet_access' 'opening_hours'
 'alt_name' 'delivery' 'allotments' 'cocktails' 'drink:beer'
 'drink:liquor' 'drink:wine' 'lgbtq' 'source' 'sport' 'tourism' 'wikidata'
 'wikipedia' 'internet_access:fee' 'building' 'email' 'old_name' 'comment'
 'url' 'amenity_1' 'shop' 'atm' 'opening_hours:kitchen' 'contact:website'
 'contact:email' 'contact:facebook' 'contact:instagram' 'contact:phone'
 'contact:twitter' 'diet:gluten_free' 'diet:vegan' 'opening_hours:dinner'
 'opening_hours:lunch' 'reservation' 'brewery' 'diet:vegetarian'
 'payment:cash' 'payment:credit_cards' 'payment:debit_cards' 'toilets'
 'toilets:unisex' 'entrance' 'drink:coffee' 'drink:tea' 'operator'
 'toilets:wheelchair' 'bar' 'happy_hours' 'drink:espresso'
 'drink:bubble_tea' 'website:menu' 'drink:cider' 'capacity'
 'cityracks.housenum' 'cityracks.installed' 'cityracks.large'
 'cityracks.rackid' 'cityracks.small' 'cityracks.street' 'fixme:atp'
 'phone:mnemonic' 'short_name' 'leisure' 'check_date' 'organic'
 'toilets:access' 'start_date' 'level' 'fixme' 'payment:amex'
 'payment:coins' 'payment:notes' 'nysgissam:review' 'changing_table'
 'facebook' 'instagram' 'twitter' 'survey:date' 'kitchen_hours' 'theme'
 'addr:floor' 'highchair' 'microbrewery' 'payment:american_express'
 'payment:discover_card' 'payment:mastercard' 'payment:visa' 'seats'
 'dish' 'drink:sangria' 'check_date:opening_hours' 'craft' 'was:operator'
 'image' 'name:en' 'fax' 'layer' 'drink:soy_milk' 'note' 'addr:flats'
 'breakfast' 'lunch' 'contact:fax' 'diet:healthy' 'diet:lactose_free'
 'diet:mediterranean' 'description' 'payment:contactless' 'brand:website'
 'diet:chicken' 'diet:meat' 'diet:non-vegetarian' 'drive_in'
 'addr:interpolation' 'diet:halal' 'drink:sake' 'dog' 'roof:shape'
 'opening_hours:signed' 'not:brand:wikidata' 'cmt' 'sym' 'time'
 'postal_code' 'diet:dairy_free' 'diet:nut_free'
 'opening_hours:drive_through' 'name:ru' 'addr:housename' 'full_name'
 'opening_hours:url' 'int_name' 'drink:juice' 'drink:smoothie' 'loc_name'
 'was:amenity' 'was:cuisine' 'indoor' 'wifi' 'opening_hours:covid19'
 'black_owned' 'source:opening_hours' 'designation' 'alcohol' 'dispensing'
 'old:website' 'female' 'male' 'gluten_free' 'lactose_free' 'source:name'
 'addr:place' 'payment:diners_club' 'payment:jcb' 'payment:paypal'
 'building:levels' 'live_music' 'diet:kosher' 'payment:ocmp'
 'source:payment' 'food' 'payment:card' 'payment:cashe' 'name:fa' 'access'
 'webcam' 'addr:suburb' 'source:phone' 'internet_access:ssid'
 'wheelchair:description' 'diet:fish' 'internet_access:password' 'nursery'
 'stars' 'fireplace' 'nysgissam:nysaddresspointid:1' 'drink' 'cost:coffee'
 'opening_hours:rubbish' 'description:covid19' 'free_refill'
 'payment:cheque' 'drink:byob' 'min_age' 'bakery' 'brand:en' 'brand:zh'
 'name:zh' 'disused:shop' 'addr:suite' 'name:es' 'name:he' 'height'
 'walkup_window' 'drink:matcha' 'catering' 'healthcare' 'name:th'
 'contact:sms' 'phases' 'drink:mate' 'payment:android_pay'
 'payment:apple_pay' 'name:bn' 'pinball' 'payment:cards'
 'service:electricity' 'diet:poultry' 'name:de' 'drink:filter_coffee'
 'disused:website' 'brand:ja' 'name:ja' 'name:fr' 'nycdoitt:bin'
 'service:notary' 'capacity:seats' 'construction:amenity'
 'diet:pescetarian' 'mapillary' 'location' 'reservation:website'
 'drink:kombucha' 'drink:iced_tea' 'payments' 'is_in'
 'payment:nfc_mobile_payments' 'diet:dairy' 'diet:lacto_vegetarian'
 'diet:ovo_vegetarian' 'diet:seafood' 'disused:amenity'
 'payment:bitcoincash' 'seasonal' 'payment:unionpay' 'currency:XBT'
 'payment:coinos' 'payment:lightning' 'payment:onchain' 'telephone'
 'tobacco' 'coffee' 'cannabis:cbd' 'office' 'books' 'religion'
 'name:zh-Hant' 'payment:electronic_purses'
 'check_date:opening_hours:drive_through' 'contact:tiktok' 'real_cider'
 'changing_table:fee' 'changing_table:location' 'pets_allowed'
 'delivery:fee' 'delivery:min_payment' 'disused:name' 'addr:hamlet'
 'board_game' 'cafe' 'club' 'whisky' 'craft_beer' 'internet_access:wlan'
 'disused' 'fast_food' 'contact:linkedin' 'payment:visa_debit' 'name:it'
 'brand:wikipedia' 'payment:mobile_phone' 'addr:door' 'drink:cocktail'
 'street_vendor' 'website:reservation' 'payment:gift_card' 'level:ref'
 'opening_hours:restaurant' 'removed:name' 'beer' 'contact:name'
 'description:en' 'women_owned' 'diet:organic' 'name:uk' 'drink:soju'
 'name:ko' 'source:placement' 'dinner' 'oven' 'payment:credit_card'
 'payment:cryptocurrencies' 'source:addr:postcode' 'motorcycle:clothes'
 'motorcycle:theme' 'source:addr:housenumber' 'name_1' 'owner'
 'self_service' 'source:addr' 'name:nl' 'operator:wikidata'
 'opening_hours:takeaway' 'payment:credit_cards:min_payment' 'name:pt'
 'lunch:buffet' 'lunch:buffet:price' 'addr:level' 'ref:arbys' 'name:fi'
 'brand:ko' 'operator:wikipedia' 'delivery:website' 'payment:google_pay'
 'payment:samsung_pay' 'delivery:partner' 'photo_booth' 'second_hand'
 'cuisine:ja' 'internet' 'contact:pinterest' 'smoking:outside'
 'toilets:number' 'karaoke' 'wheelchair:description:en' 'toilets:position'
 'brunch' 'addr:zip' 'payment' 'drink:kava' 'payment:ethereum'
 'payment:litecoin' 'deli' 'restaurant' 'cheese' 'wine'
 'payment:meal_voucher' 'payment:token' 'drink:aguas_frescas'
 'drink:absinthe' 'description:es' 'disused:cuisine' 'toilets:disposal'
 'jukebox' 'television' 'payment:NFC_mobile_payments' 'was:shop'
 'brunch:menu' 'dinner:menu' 'lunch:menu' 'cafe_type' 'product'
 'drink:lassi' 'drink:cold_brew_coffee' 'vegan' 'country' 'addr:full'
 'byob' 'takeaway:covid19' 'cannabis' 'bicycle_parking' 'bicycle'
 'service:bicycle:tools' 'alt_name_1' 'payment:app' 'origin' 'open_date'
 'cuisine:dim_sum' 'closed' 'last_checked' 'highway' 'phone:alternate'
 'diet:jain' 'drink:ché' 'diet:soy_free' 'phone_1' 'payment:company_card'
 'website:booking' 'subject:wikidata' 'ice_cream' 'drink:sushi'
 'population' 'population:date' 'source:population' 'diet:regular'
 'real_fire' 'not:name' 'diet:sugar_free' 'drink:cappuccino'
 'payment:dining_dollars' 'payment:wolfie_wallet' 'payment:qr_code'
 'contact:youtube' 'toilets:handwashing' 'diet:raw' 'alt_phone'
 'diet:Carne' 'name:zh-Hans' 'description:ja' 'payment:mobile' 'phone1'
 'phone2' 'payment:maestro' 'covered' 'payment:telephone_cards'
 'mobile_phone:repair' 'website:orders' 'diet:local' 'mapillary:image'
 'note:covid19' 'safety:mask:covid19' 'description:safety:mask:covid19'
 'abandoned' 'rooms' 'address' 'kids_area' 'kids_area:outdoor' 'store'
 'music' 'florist' 'construction:website' 'payment:venmo' 'name:yue-Hant'
 'construction' 'stroller' 'diet:no_MSG' 'yelp' 'payment:discover' 'year'
 'man_made' 'opening_hours:cafe' 'cinema' 'former_name' 'historic:name'
 'diet:fruitarian' 'name:ja_rm' 'check_date:currency:XBT' 'toilets:fee'
 'toilets:paper_supplied' 'pets' 'opening_hours:delivery' 'cutting'
 'OBJECTID' 'source:data' 'source:imagery' 'source:shape' 'name:bo'
 'opening_date' 'payment:cashapp' 'natural' 'payment:alipay'
 'payment:wechat' 'payment:account_cards' 'operational_status' 'comedy'
 'service:bicycle:stand' 'diet:macrobiotic' 'spoaddr:street']

In [72]:
object_columns = df.select_dtypes(['object']).columns

In [73]:
second_val = []
second_freq = []
for category in object_columns:
    # print(df[category].value_counts().index.tolist())
    second_val.append(df[category].value_counts().index.tolist()[1])
    second_freq.append(df[category].value_counts().iloc[1])

IndexError: list index out of range

In [74]:
# Find duplicate rows
print("Number of duplicate rows:", df[df.duplicated()==True].shape[0])

Number of duplicate rows: 0

In [75]:
print(df.shape)

(21607, 492)

In [95]:
threshold = int(len(df)*0.01)
df_cleaned = df.dropna(axis=1, thresh=threshold)

In [96]:
df_cleaned.shape

(21607, 67)

In [97]:
df_cleaned.to_csv("osm_places.csv")

In [91]:
nullrows = df.isna().sum()

In [92]:
nulldf

id                           0
lat                          0
lon                          0
amenity                      0
ele                      21587
                         ...
operational_status       21606
comedy                   21606
service:bicycle:stand    21606
diet:macrobiotic         21606
spoaddr:street           21606
Length: 492, dtype: int64

In [77]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,21607.0,6.334429e+09,3.161955e+09,158604258.0,3.577779e+09,6.006320e+09,9.163169e+09,1.194376e+10

In [78]:
decimal = fnode.lon
decimal.to_eng_string()

'-75.8084643'