In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import sys
import numpy as np

In [2]:
df = pd.read_csv('osm_places_leisure.csv')

threshold = int(0.03* df.shape[0])
df = df.dropna(axis=1, thresh=threshold)

In [3]:
df.columns

Index(['id', 'lat', 'lon', 'ele', 'gnis:feature_id', 'leisure', 'name',
       'wikidata', 'addr:city', 'addr:postcode', 'addr:state', 'operator',
       'opening_hours', 'website', 'addr:street', 'addr:housenumber',
       'dance:teaching', 'amenity', 'drink:beer', 'phone', 'toilets',
       'wheelchair', 'tourism', 'cuisine', 'email', 'access', 'garden:type'],
      dtype='object')

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [8]:
df = df[['id', 'lat', 'lon', 'leisure', 'name',
       'addr:city', 'addr:postcode', 'addr:state',
       'opening_hours', 'website', 'addr:street', 'addr:housenumber',
       'phone', 
       'wheelchair', 'email', 'access']]

In [11]:
# Drop rows with missing name
df.drop(df[df['name'].isna()].index, inplace=True)

In [14]:
# Drop private access places and drop feature
df.drop(df[df['access']=='private'].index, inplace=True)
df.drop('access', axis=1, inplace=True)

In [17]:
# Change NaN values in wheelchair feature to no
df.fillna({'wheelchair':'no'}, inplace=True)

In [15]:
df.columns

Index(['id', 'lat', 'lon', 'leisure', 'name', 'addr:city', 'addr:postcode',
       'addr:state', 'opening_hours', 'website', 'addr:street',
       'addr:housenumber', 'phone', 'wheelchair', 'email'],
      dtype='object')

In [18]:
df.head()

,id,lat,lon,leisure,name,addr:city,addr:postcode,addr:state,opening_hours,website,addr:street,addr:housenumber,phone,wheelchair,email
0,357545993,40.873155,-73.914025,park,Baker Field,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,NaN
1,357562455,40.548161,-74.126253,park,Great Kills Park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,NaN
2,357570943,40.705658,-73.936249,park,Ramirez Playground,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,NaN
3,357573219,40.596493,-74.171532,park,New Springville Park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,NaN
4,357594521,40.701492,-73.852913,park,Victory Field,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,NaN

In [19]:
df.to_csv("osm_places_leisure_cleaned.csv", index=False)