This notebook puts into action the data quality plan outlined in data/data_quality_reports.

yellow, green, fhv and fhvhv taxi data all have their own jupyter notebooks as a) the datasets have different column names and b) the datasets are too large to load at the same time so it makes sense to keep them separate.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import os

In [2]:
parquet_file = "all_fhvhv_tripdata.parquet"
parquet_reader = pq.ParquetFile(parquet_file)

In [3]:
num_rows = parquet_reader.metadata.num_rows
num_row_groups = parquet_reader.num_row_groups
# df.shape[0]
print(num_rows)
print(num_row_groups)

720244197
708

In [4]:
# Because FHVHV data is so big it'll have to be split into 100 row group 
row_groups = np.linspace(0, num_row_groups, 21)
row_groups = [int(num) for num in row_groups]

first_row = 0
idx = 0
for last_row in row_groups[1:]:
    table = parquet_reader.read_row_groups([i for i in range(first_row, last_row)])
    df = table.to_pandas()

    print(f"Row group start {first_row} end {last_row}")
    print("Num rows:", df.shape[0])
    print("Data types:")
    print(df.dtypes)

    category_columns = ['PULocationID', 'DOLocationID']

    for column in category_columns:
        df[column] = df[column].astype('category')

    numeric_columns = df.select_dtypes(['int64', 'float64', 'datetime64']).columns

    # Drop duplicates
    df.drop_duplicates(inplace=True)
    print("After dropping duplicates", df.shape)

    # dropoff time before pickup time
    df.drop(df[df['dropoff_datetime']<df['pickup_datetime']].index, inplace=True)
    print("After dropping pickup after dropoff", df.shape)
    	
    # Pickup before 2021
    df.drop(df[df['pickup_datetime']<pd.to_datetime('2021-01-01')].index, inplace=True)
    print("After dropping early pickup", df.shape)

    # Dropoff after Mar 2024
    df.drop(df[df['dropoff_datetime']>pd.to_datetime('2024-06-01')].index, inplace=True)
    print("After dropping late dropoff", df.shape)

    # Passenger count col
    df["passenger_count"] = 1
    print("Create passenger count", df.shape)

    # Trips too long
    time_diff = pd.Timedelta(hours=5)
    df.drop(df[df['dropoff_datetime']-df['pickup_datetime'] > time_diff].index, inplace=True)
    print("Remove long trips", df.shape)

    # Pickup and DO both NAN
    df.drop(df[df['DOLocationID'].isna() &df['PULocationID'].isna()].index, inplace=True)
    print("Drop NaN pickup and dropoff", df.shape)

    # Make passenger count int and rename cols
    df["passenger_count"] = df["passenger_count"].astype('int64')

    col_names = {
       'PULocationID':"pickup_loc", 'DOLocationID':"dropoff_loc"
    }
    df.rename(columns = col_names, inplace=True)

    df = df[["pickup_datetime","dropoff_datetime","pickup_loc","dropoff_loc", "passenger_count"]]


    df.to_parquet(f"all_fhvhv_tripdata_cleaned_{idx}.parquet", engine='pyarrow', index=False)

    print(f"df {idx} written to file")
    first_row = last_row
    idx += 1

Row group start 0 end 35
Num rows: 35056746
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (35056640, 4)
After dropping pickup after dropoff (35056640, 4)
After dropping early pickup (35056640, 4)
After dropping late dropoff (35056640, 4)
Create passenger count (35056640, 5)
Remove long trips (35056385, 5)
Drop NaN pickup and dropoff (35056385, 5)
df 0 written to file
Row group start 35 end 70
Num rows: 34669327
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (34668711, 4)
After dropping pickup after dropoff (34668711, 4)
After dropping early pickup (34668711, 4)
After dropping late dropoff (34668711, 4)
Create passenger count (34668711, 5)
Remove long trips (34668435, 5)
Drop NaN pickup and dropoff (34668435, 5)
df 1 written to file
Row group start 70 end 106
Num rows: 36280522
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (36280475, 4)
After dropping pickup after dropoff (36280475, 4)
After dropping early pickup (36280475, 4)
After dropping late dropoff (36280475, 4)
Create passenger count (36280475, 5)
Remove long trips (36280068, 5)
Drop NaN pickup and dropoff (36280068, 5)
df 2 written to file
Row group start 106 end 141
Num rows: 35677207
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (35677151, 4)
After dropping pickup after dropoff (35677151, 4)
After dropping early pickup (35677151, 4)
After dropping late dropoff (35677151, 4)
Create passenger count (35677151, 5)
Remove long trips (35676709, 5)
Drop NaN pickup and dropoff (35676709, 5)
df 3 written to file
Row group start 141 end 177
Num rows: 36058578
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (36058509, 4)
After dropping pickup after dropoff (36050951, 4)
After dropping early pickup (36050951, 4)
After dropping late dropoff (36050951, 4)
Create passenger count (36050951, 5)
Remove long trips (36050658, 5)
Drop NaN pickup and dropoff (36050658, 5)
df 4 written to file
Row group start 177 end 212
Num rows: 34965178
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (34965126, 4)
After dropping pickup after dropoff (34965126, 4)
After dropping early pickup (34965126, 4)
After dropping late dropoff (34965126, 4)
Create passenger count (34965126, 5)
Remove long trips (34964797, 5)
Drop NaN pickup and dropoff (34964797, 5)
df 5 written to file
Row group start 212 end 247
Num rows: 36206109
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (36203977, 4)
After dropping pickup after dropoff (36203977, 4)
After dropping early pickup (36203977, 4)
After dropping late dropoff (36203977, 4)
Create passenger count (36203977, 5)
Remove long trips (36203459, 5)
Drop NaN pickup and dropoff (36203459, 5)
df 6 written to file
Row group start 247 end 283
Num rows: 36985986
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (36985941, 4)
After dropping pickup after dropoff (36985941, 4)
After dropping early pickup (36985941, 4)
After dropping late dropoff (36985941, 4)
Create passenger count (36985941, 5)
Remove long trips (36984748, 5)
Drop NaN pickup and dropoff (36984748, 5)
df 7 written to file
Row group start 283 end 318
Num rows: 35698882
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (35698791, 4)
After dropping pickup after dropoff (35698791, 4)
After dropping early pickup (35698791, 4)
After dropping late dropoff (35698791, 4)
Create passenger count (35698791, 5)
Remove long trips (35697536, 5)
Drop NaN pickup and dropoff (35697536, 5)
df 8 written to file
Row group start 318 end 354
Num rows: 37099641
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (37099576, 4)
After dropping pickup after dropoff (37091007, 4)
After dropping early pickup (37091007, 4)
After dropping late dropoff (37091007, 4)
Create passenger count (37091007, 5)
Remove long trips (37090488, 5)
Drop NaN pickup and dropoff (37090488, 5)
df 9 written to file
Row group start 354 end 389
Num rows: 35654591
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (35654533, 4)
After dropping pickup after dropoff (35654533, 4)
After dropping early pickup (35654533, 4)
After dropping late dropoff (35654533, 4)
Create passenger count (35654533, 5)
Remove long trips (35654264, 5)
Drop NaN pickup and dropoff (35654264, 5)
df 10 written to file
Row group start 389 end 424
Num rows: 35391426
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (35391362, 4)
After dropping pickup after dropoff (35391362, 4)
After dropping early pickup (35391362, 4)
After dropping late dropoff (35391362, 4)
Create passenger count (35391362, 5)
Remove long trips (35391177, 5)
Drop NaN pickup and dropoff (35391177, 5)
df 11 written to file
Row group start 424 end 460
Num rows: 36412714
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (36412658, 4)
After dropping pickup after dropoff (36412658, 4)
After dropping early pickup (36412658, 4)
After dropping late dropoff (36412658, 4)
Create passenger count (36412658, 5)
Remove long trips (36412438, 5)
Drop NaN pickup and dropoff (36412438, 5)
df 12 written to file
Row group start 460 end 495
Num rows: 36068567
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (36068511, 4)
After dropping pickup after dropoff (36068511, 4)
After dropping early pickup (36068511, 4)
After dropping late dropoff (36068511, 4)
Create passenger count (36068511, 5)
Remove long trips (36068146, 5)
Drop NaN pickup and dropoff (36068146, 5)
df 13 written to file
Row group start 495 end 531
Num rows: 36957923
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (36957813, 4)
After dropping pickup after dropoff (36957813, 4)
After dropping early pickup (36957813, 4)
After dropping late dropoff (36957813, 4)
Create passenger count (36957813, 5)
Remove long trips (36957330, 5)
Drop NaN pickup and dropoff (36957330, 5)
df 14 written to file
Row group start 531 end 566
Num rows: 36076121
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (36075111, 4)
After dropping pickup after dropoff (36075111, 4)
After dropping early pickup (36075111, 4)
After dropping late dropoff (36075111, 4)
Create passenger count (36075111, 5)
Remove long trips (36074590, 5)
Drop NaN pickup and dropoff (36074590, 5)
df 15 written to file
Row group start 566 end 601
Num rows: 35261276
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (35257666, 4)
After dropping pickup after dropoff (35249187, 4)
After dropping early pickup (35249187, 4)
After dropping late dropoff (35249187, 4)
Create passenger count (35249187, 5)
Remove long trips (35248906, 5)
Drop NaN pickup and dropoff (35248906, 5)
df 16 written to file
Row group start 601 end 637
Num rows: 37034499
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (37034405, 4)
After dropping pickup after dropoff (37034405, 4)
After dropping early pickup (37034405, 4)
After dropping late dropoff (37034405, 4)
Create passenger count (37034405, 5)
Remove long trips (37034128, 5)
Drop NaN pickup and dropoff (37034128, 5)
df 17 written to file
Row group start 637 end 672
Num rows: 35397056
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (35396965, 4)
After dropping pickup after dropoff (35396965, 4)
After dropping early pickup (35396965, 4)
After dropping late dropoff (35396965, 4)
Create passenger count (35396965, 5)
Remove long trips (35396815, 5)
Drop NaN pickup and dropoff (35396815, 5)
df 18 written to file
Row group start 672 end 708
Num rows: 37291848
Data types:
pickup_datetime     datetime64[us]
dropoff_datetime    datetime64[us]
PULocationID                 int64
DOLocationID                 int64
dtype: object
After dropping duplicates (37291772, 4)
After dropping pickup after dropoff (37291772, 4)
After dropping early pickup (37291772, 4)
After dropping late dropoff (37276647, 4)
Create passenger count (37276647, 5)
Remove long trips (37276440, 5)
Drop NaN pickup and dropoff (37276440, 5)
df 19 written to file

Drop rows where trip duration is > 5hrs

Drop all columns where both PU and DO location is NaN

### Logical integrity tests
1. dropoff not before pickup
2. Pickup date before 2021
3. Dropoff date > 31st Mar 2024
4. Duration of taxi ride > 5hrs
5. PU location ID not an allowed value
6. DO location ID not an allowed value

In [5]:
# Test 1: 
df[df['dropoff_datetime']<df['pickup_datetime']]

Empty DataFrame
Columns: [pickup_datetime, dropoff_datetime, pickup_loc, dropoff_loc, passenger_count]
Index: []

In [6]:
# Test 2: 
df[df['pickup_datetime']<pd.to_datetime('2021-01-01')]

Empty DataFrame
Columns: [pickup_datetime, dropoff_datetime, pickup_loc, dropoff_loc, passenger_count]
Index: []

In [7]:
df[df['pickup_datetime']<pd.to_datetime('2021-01-01')].count()

pickup_datetime     0
dropoff_datetime    0
pickup_loc          0
dropoff_loc         0
passenger_count     0
dtype: int64

In [8]:
# Test 3: 
df[df['dropoff_datetime']>pd.to_datetime('2024-06-01')]

Empty DataFrame
Columns: [pickup_datetime, dropoff_datetime, pickup_loc, dropoff_loc, passenger_count]
Index: []

In [9]:
late_dropoff = df[df['dropoff_datetime']>pd.to_datetime('2024-06-01')]
late_dropoff.describe().T

                 count mean  min  25%  50%  75%  max  std
pickup_datetime      0  NaT  NaT  NaT  NaT  NaT  NaT  NaN
dropoff_datetime     0  NaT  NaT  NaT  NaT  NaT  NaT  NaN
passenger_count    0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [10]:
# Test 5:
time_diff = pd.Timedelta(hours=5)
df[df['dropoff_datetime']-df['pickup_datetime'] > time_diff]

Empty DataFrame
Columns: [pickup_datetime, dropoff_datetime, pickup_loc, dropoff_loc, passenger_count]
Index: []

In [11]:
long_rides = df[df['dropoff_datetime']-df['pickup_datetime'] > time_diff]
long_rides['time_diff'] = long_rides['dropoff_datetime']-long_rides['pickup_datetime']
long_rides.describe().T

                 count mean  min  25%  50%  75%  max  std
pickup_datetime      0  NaT  NaT  NaT  NaT  NaT  NaT  NaN
dropoff_datetime     0  NaT  NaT  NaT  NaT  NaT  NaT  NaN
passenger_count    0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN
time_diff            0  NaT  NaT  NaT  NaT  NaT  NaT  NaT

In [12]:
# Test 6:
taxi_lookup = pd.read_csv('taxi_zone_lookup.csv')
taxi_zones = set(taxi_lookup['LocationID'])
df[~(df['PULocationID'].isin(taxi_zones) | df['PULocationID'].isna())]

KeyError: 'PULocationID'

In [13]:
# Test 7:
df[~(df['DOLocationID'].isin(taxi_zones) | df['DOLocationID'].isna()) ]

KeyError: 'DOLocationID'