This file is for grouping and merging all yellow, green, fhv and fhvhv data.

This file calculates the sum of passengers picked up and dropped off each hour in each location for each transport type and adds the two together. 

It then merges the data and gets the sum again by hour and location. This operation is done twice as there's not enough RAM on my PC to load the datasets at the same time.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import os

In [2]:
parquet_files = ["all_yellow_tripdata_cleaned.parquet", "all_green_tripdata_cleaned.parquet", "all_fhv_tripdata_cleaned.parquet"] + [f"all_fhvhv_tripdata_cleaned_{i}.parquet" for i in range(20)]

In [3]:

for parquet_file in parquet_files:
    print("grouping and merging", parquet_file)
    # Read in file
    parquet_reader = pq.ParquetFile(parquet_file)
    table = pq.read_table(parquet_file)
    df = table.to_pandas()
    
    print(df.columns)

    df['pickup_datetime'] = df['pickup_datetime'].dt.floor(freq='h')
    df['dropoff_datetime'] = df['dropoff_datetime'].dt.floor(freq='h')

    # Get sum of passengers by hour by pickup location
    df_pickup = pd.DataFrame(df.groupby(['pickup_datetime', 'pickup_loc'])['passenger_count'].sum().reset_index())
    col_names = {
        "pickup_datetime": "datetime",
        "pickup_loc": "location"
    }
    df_pickup.rename(columns=col_names, inplace=True)

    # Get sum of passengers by hour by dropoff location
    df_dropoff = pd.DataFrame(df.groupby(['dropoff_datetime', 'dropoff_loc'])['passenger_count'].sum().reset_index())
    col_names = {
        "dropoff_datetime": "datetime",
        "dropoff_loc": "location"
    }

    df_dropoff.rename(columns=col_names, inplace=True)

    # Concatenate dfs
    merged_df = pd.concat([df_pickup,df_dropoff])
    merged_df.dropna(inplace=True)
    merged_df['location'] = merged_df['location'].astype('int64')


    merged_df.to_parquet(f"{parquet_file[:-8]}_grouped.parquet")
    print(merged_df.shape)

grouping and merging all_yellow_tripdata_cleaned.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(6998834, 3)
grouping and merging all_green_tripdata_cleaned.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(1925640, 3)
grouping and merging all_fhv_tripdata_cleaned.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(9054343, 3)
grouping and merging all_fhvhv_tripdata_cleaned_0.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(956257, 3)
grouping and merging all_fhvhv_tripdata_cleaned_1.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(864557, 3)
grouping and merging all_fhvhv_tripdata_cleaned_2.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(825484, 3)
grouping and merging all_fhvhv_tripdata_cleaned_3.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(834049, 3)
grouping and merging all_fhvhv_tripdata_cleaned_4.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(762344, 3)
grouping and merging all_fhvhv_tripdata_cleaned_5.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(791920, 3)
grouping and merging all_fhvhv_tripdata_cleaned_6.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(707364, 3)
grouping and merging all_fhvhv_tripdata_cleaned_7.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(694780, 3)
grouping and merging all_fhvhv_tripdata_cleaned_8.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(757269, 3)
grouping and merging all_fhvhv_tripdata_cleaned_9.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(701136, 3)
grouping and merging all_fhvhv_tripdata_cleaned_10.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(649855, 3)
grouping and merging all_fhvhv_tripdata_cleaned_11.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(693310, 3)
grouping and merging all_fhvhv_tripdata_cleaned_12.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(620648, 3)
grouping and merging all_fhvhv_tripdata_cleaned_13.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(653696, 3)
grouping and merging all_fhvhv_tripdata_cleaned_14.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(658337, 3)
grouping and merging all_fhvhv_tripdata_cleaned_15.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(684613, 3)
grouping and merging all_fhvhv_tripdata_cleaned_16.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(637861, 3)
grouping and merging all_fhvhv_tripdata_cleaned_17.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(619487, 3)
grouping and merging all_fhvhv_tripdata_cleaned_18.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(654378, 3)
grouping and merging all_fhvhv_tripdata_cleaned_19.parquet
Index(['pickup_datetime', 'dropoff_datetime', 'pickup_loc', 'dropoff_loc',
       'passenger_count'],
      dtype='object')
(611824, 3)

In [4]:
grouped_files = [f"{parquet_file[:-8]}_grouped.parquet" for parquet_file in parquet_files]

combined_df = pd.DataFrame()
for grouped_file in grouped_files:
    parquet_reader = pq.ParquetFile(grouped_file)
    table = pq.read_table(grouped_file)
    df = table.to_pandas()

    df.dropna(inplace=True)
    print(df.dtypes)

    combined_df = pd.concat([combined_df, df])

    combined_df = pd.DataFrame(combined_df.groupby(['datetime', 'location'])['passenger_count'].sum().reset_index())
    print(combined_df.head())
    print(combined_df.shape)

datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         4               11
1 2021-01-01         7                4
2 2021-01-01        11                1
3 2021-01-01        13                5
4 2021-01-01        17                3
(4578792, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         4               11
1 2021-01-01         7                9
2 2021-01-01        11                1
3 2021-01-01        13                5
4 2021-01-01        17                4
(4756936, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3                4
1 2021-01-01         4               11
2 2021-01-01         7               10
3 2021-01-01        10                5
4 2021-01-01        11                1
(6603302, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(6669701, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(6717099, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(6756658, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(6798495, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(6835301, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(6877823, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(6912043, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(6943399, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(6978228, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(7013432, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(7046773, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(7082798, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(7114976, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(7145736, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(7174920, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(7203394, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(7230739, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(7258894, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(7291273, 3)
datetime           datetime64[us]
location                    int64
passenger_count             int64
dtype: object
    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493
(7319643, 3)

In [5]:
combined_df[combined_df.duplicated()]

Empty DataFrame
Columns: [datetime, location, passenger_count]
Index: []

In [6]:
combined_df['datetime'].nunique()

28465

In [7]:
combined_df['location'].nunique()

265

In [8]:
combined_df.to_parquet("all_tlc_data_cleaned.parquet", engine='pyarrow', index=False)

In [9]:
combined_df.to_csv("all_tlc_data_cleaned.csv", index=False)