Testing meteostat

In [2]:
from meteostat import Point, Hourly
import pandas as pd

In [11]:
nyc = Point(40.7750358581543, -73.9120330810546)
start =  pd.to_datetime('2023-01-01')
end = pd.to_datetime('2023-12-31')
data = Hourly(nyc, start, end)

FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.

In [12]:
df = data.fetch()
df.head()

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2023-01-01 00:00:00,10.0,9.4,96.0,1.1,NaN,30.0,6.0,NaN,1011.0,NaN,9.0
2023-01-01 01:00:00,13.0,11.9,93.0,1.4,NaN,250.0,11.0,NaN,1010.0,NaN,9.0
2023-01-01 02:00:00,12.0,11.5,97.0,0.5,NaN,223.0,10.4,NaN,1010.0,NaN,8.0
2023-01-01 03:00:00,12.0,11.5,97.0,0.7,NaN,230.0,9.0,NaN,1009.0,NaN,8.0
2023-01-01 04:00:00,12.2,11.1,93.0,1.3,NaN,0.0,0.0,NaN,1007.0,NaN,9.0