Testing meteostat

In [2]:
from meteostat import Point, Hourly
import pandas as pd

In [6]:
nyc = Point(40.7750358581543, -73.9120330810546)
start =  pd.to_datetime('2024-05-28')
end = pd.to_datetime('2024-06-03')
data = Hourly(nyc, start, end)

FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.

In [7]:
df = data.fetch()
df.tail()

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2024-06-02 20:00:00,26.6,11.1,38.0,NaN,NaN,209.0,16.7,NaN,1016.3,NaN,3.0
2024-06-02 21:00:00,26.2,11.2,39.0,NaN,NaN,205.0,16.7,NaN,1016.0,NaN,3.0
2024-06-02 22:00:00,25.8,11.6,41.0,NaN,NaN,199.0,14.8,NaN,1015.6,NaN,3.0
2024-06-02 23:00:00,25.4,12.3,44.0,NaN,NaN,190.0,11.1,NaN,1015.1,NaN,3.0
2024-06-03 00:00:00,19.7,15.8,78.0,NaN,NaN,155.0,9.0,NaN,1014.3,NaN,3.0