This notebook is for creating different taxi data buckets

In [1]:
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import os

In [18]:
buckets = [5, 10, 20]
for num_buckets in buckets:
    df = pd.read_parquet('../../data_evaluation/taxi_trip_data/all_tlc_data_cleaned.parquet')
    df['busyness'] = pd.qcut(df['passenger_count'], q=num_buckets, labels=[i for i in range(1, num_buckets+1)])
    df.drop('passenger_count', axis=1, inplace=True)
    df.to_parquet(f"all_tlc_data_{num_buckets}_buckets.parquet")

In [12]:
df.head()

    datetime  location  passenger_count
0 2021-01-01         3              132
1 2021-01-01         4              234
2 2021-01-01         5               19
3 2021-01-01         6               37
4 2021-01-01         7              493