This notebook is for pulling hourly subway ridership data from NYC open data

In [7]:
import pandas as pd
from sodapy import Socrata
import json

In [8]:
f = open("keys.json")
DATANY_APP_TOKEN = json.load(f)['datany_apptoken']
f.close()

In [57]:
client = Socrata("data.ny.gov", DATANY_APP_TOKEN)
# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("wujg-7c2s", limit=5000, offset=0)
# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [58]:
results_df.head(11)

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers,latitude,longitude,georeference,:@computed_region_kjdx_g34t,:@computed_region_yamh_8v7k,:@computed_region_wbg7_3whc
0,2023-08-19T05:00:00.000,subway,93,"Chauncey St (J,Z)",Brooklyn,metrocard,Metrocard - Unlimited 7-Day,6.0,0.0,40.682891845703125,-73.91045379638672,"{'type': 'Point', 'coordinates': [-73.91045379...",2090,894,885
1,2023-07-19T15:00:00.000,subway,93,"Chauncey St (J,Z)",Brooklyn,metrocard,Metrocard - Unlimited 30-Day,7.0,0.0,40.682891845703125,-73.91045379638672,"{'type': 'Point', 'coordinates': [-73.91045379...",2090,894,885
2,2023-11-09T11:00:00.000,subway,93,"Chauncey St (J,Z)",Brooklyn,metrocard,Metrocard - Students,2.0,0.0,40.68289,-73.91045,"{'type': 'Point', 'coordinates': [-73.91045, 4...",2090,894,885
3,2023-03-03T12:00:00.000,subway,93,"Chauncey St (J,Z)",Brooklyn,metrocard,Metrocard - Unlimited 7-Day,9.0,0.0,40.682891845703125,-73.91045379638672,"{'type': 'Point', 'coordinates': [-73.91045379...",2090,894,885
4,2023-07-04T20:00:00.000,subway,93,"Chauncey St (J,Z)",Brooklyn,metrocard,Metrocard - Unlimited 7-Day,5.0,0.0,40.682891845703125,-73.91045379638672,"{'type': 'Point', 'coordinates': [-73.91045379...",2090,894,885
5,2023-08-11T20:00:00.000,subway,93,"Chauncey St (J,Z)",Brooklyn,metrocard,Metrocard - Unlimited 30-Day,5.0,0.0,40.682891845703125,-73.91045379638672,"{'type': 'Point', 'coordinates': [-73.91045379...",2090,894,885
6,2023-04-10T08:00:00.000,subway,93,"Chauncey St (J,Z)",Brooklyn,metrocard,Metrocard - Students,4.0,0.0,40.682891845703125,-73.91045379638672,"{'type': 'Point', 'coordinates': [-73.91045379...",2090,894,885
7,2023-04-16T11:00:00.000,subway,93,"Chauncey St (J,Z)",Brooklyn,metrocard,Metrocard - Unlimited 30-Day,10.0,0.0,40.682891845703125,-73.91045379638672,"{'type': 'Point', 'coordinates': [-73.91045379...",2090,894,885
8,2023-01-10T19:00:00.000,subway,93,"Chauncey St (J,Z)",Brooklyn,metrocard,Metrocard - Students,4.0,1.0,40.682891845703125,-73.91045379638672,"{'type': 'Point', 'coordinates': [-73.91045379...",2090,894,885
9,2023-04-26T22:00:00.000,subway,93,"Chauncey St (J,Z)",Brooklyn,metrocard,Metrocard - Unlimited 7-Day,7.0,0.0,40.682891845703125,-73.91045379638672,"{'type': 'Point', 'coordinates': [-73.91045379...",2090,894,885
10,2023-07-08T19:00:00.000,subway,93,"Chauncey St (J,Z)",Brooklyn,metrocard,Metrocard - Unlimited 30-Day,5.0,0.0,40.682891845703125,-73.91045379638672,"{'type': 'Point', 'coordinates': [-73.91045379...",2090,894,885

In [44]:
results_df.drop(['georeference'], axis=1, inplace=True)

In [45]:
results_df.columns

Index(['transit_timestamp', 'transit_mode', 'station_complex_id',
       'station_complex', 'borough', 'payment_method', 'fare_class_category',
       'ridership', 'transfers', 'latitude', 'longitude',
       ':@computed_region_kjdx_g34t', ':@computed_region_yamh_8v7k',
       ':@computed_region_wbg7_3whc'],
      dtype='object')

In [46]:
results_df[results_df.duplicated()==True]

Empty DataFrame
Columns: [transit_timestamp, transit_mode, station_complex_id, station_complex, borough, payment_method, fare_class_category, ridership, transfers, latitude, longitude, :@computed_region_kjdx_g34t, :@computed_region_yamh_8v7k, :@computed_region_wbg7_3whc]
Index: []

In [10]:
results_df.shape

(1000, 15)